<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DEVOPSCONF</title>
  <link rel="shortcut icon" href="images/devopsconf.png">
	<meta name="description" content="DEVOPSCONF es la primera conferencia enfocada en la difusión de buenas prácticas, herramientas y procedimientos ágiles para la construcción y distribución de aplicaciones en infraestructuras de gran escala.">
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="Conferencia de DEVOPS" />
	<meta property="og:site_name" content="DEVOPSCONF" />
	<meta property="og:url" content="http://devops.conf4.it" />
	<meta property="og:description" content="DEVOPSCONF es la primera conferencia enfocada en la difusión de buenas prácticas, herramientas y procedimientos ágiles para la construcción y distribución de aplicaciones en infraestructuras de gran escala." />
	<meta property="og:image" content="images/devopsconf.png">
	<meta property="og:type" content="website" />
	<meta property="fb:admins" content="100000467201949" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100,300" type="text/css">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bower_components/animate.css/animate.css">
	<!-- endbuild -->

	<script src="bower_components/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53bd696b7d07bf74"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="60">
	<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<nav class="navbar navbar-default navbar-fixed-top navbar-top" role="navigation" id="slide-nav">
		<a class="navbar-brand hidden-xs hidden-sm link-on-top" href="#landing">DEVOPSCONF</a>
		<div class="container menu">
			<div class="navbar-header">
				<a class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
			</div>
			<div id="slidemenu">
				<ul class="nav navbar-nav">
					<li class="active"><a class="link-on-top" href="#landing">Conferencia</a></li>
          <li><a class="link-on-top" href="#paas">Workshop PaaS Fest!</a></li>
					<li><a class="link-on-top" href="#speakers">Oradores</a></li>
					<li><a class="link-on-top" href="#program">Programa</a></li>
					<li><a class="link-on-top" href="https://eventioz.com.ar/e/devopsconf-paas-fest" target="_blank">Tickets</a></li>
					<li><a class="link-on-top" href="#sponsors">Sponsors</a></li>
          <li><a class="link-on-top" href="#apoyan">Apoyan</a></li>
					<li><a class="link-on-top" href="#organizers">Organizadores</a></li>
					<li><a class="link-on-top" href="#venue">Lugar</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section id="landing" class="home">
		<div class="title animated">
			<div class="title-cover">
        <h1>
				<image src="images/logo-transparente.png" alt="DEVOPSCONF"></image>
        </h1>
				<h2>Conferencia de DevOps</h2>
				<h3>Buenos Aires - 11 de Noviembre de 2015</h3>
        <h4>de 15 a 22 hs.</h4>

                <div class="countdown">
                    <div class="countdown-container" id="countdown-container"></div>
                </div>
                <script type="text/template" id="countdown-template">
                    <div class="time <%= label %>">
                        <span class="count curr top"><%= curr %></span>
                        <span class="count next top"><%= next %></span>
                        <span class="count next bottom"><%= next %></span>
                        <span class="count curr bottom"><%= curr %></span>
                        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3) %></span>
                    </div>
                </script>
			</div>
		</div>
		<div class="register">
			<a href="https://eventioz.com.ar/e/devopsconf-paas-fest" target="_blank">Registrate Gratis Aquí</a>
		</div>
	</section>

	<section>
		<div class="container about">
			<p class="wow fadeInUp" data-wow-offset="150"><span>DEVOPSCONF</span> es la primera conferencia enfocada en la difusión de buenas prácticas, herramientas y procedimientos ágiles para la construcción y distribución de aplicaciones en infraestructuras de gran escala.
        <span>Devops</span> es hoy una tendencia mundial, que define políticas focalizadas en la automatización, estableciendo normas y estándares claros que favorecen el trabajo en equipo, garantizando requerimientos claves como performance, disponibilidad y robustez de las aplicaciones, agilizando y otorgando mayor fluidez en el vínculo y la comunicación entre los desarrolladores y los operadores de infraestructura, acortando los tiempos de puesta en producción.</p>
			<p class="wow fadeIn" data-wow-offset="120" data-wow-duration="1.2s">En esta primera conferencia nos centraremos en uno de los atributos claves de Devops, relacionado con la escalabilidad de las aplicaciones, presentando diferentes casos de éxito, herramientas y metodologías.</p>
      <br>
			<hr>
      <br>
      <p class="wow fadeInUp" data-wow-offset="150" id="paas"><span>WORKSHOP PaaS Fest!</span> Continuous Delivery & PaaS Fest! Un espacio exclusivo de workshops sobre Continuous Deliver y Platform as a Service. 
      La implementación de Platform as a service <span>(PaaS)</span> dentro de una organización es clave para la adopción de <span>DevOps</span>. Por eso, se desarrollará una experiencia única que le permitirá a los asistentes conocer y evaluar los productos de PaaS más innovadores del mercado, y a su vez  capacitarse y recibir mentoreo sobre su aplicación en casos concretos.</p>
      <p class="conf-title wow fadeIn" data-wow-offset="100" data-wow-duration="1.2s" data-wow-delay="0.5s"><span>Temáticas:</span>
        - Continuous Integration & Delivery.
        - Configuration Management.
        - Infrastructure Orchestation.
        - Platform as a Service (PaaS).
        - Linux Containers.
        - Elastic Platforms.</p>
		</div>
	</section>

	<section id="speakers">
		<div class="container speakers">
			<h2 class="main-title">Oradores</h2>
			<hr>
			<ul>
				<li class="expand wow fadeInUp" data-wow-offset="100">
					<div class="row row-table">
						<div class="col-sm-2">
							<img src="images/people/PabloGonzalez_O.png" alt="" class="circle-big">
						</div>
						<div class="col-sm-5 name">
              <h4>PABLO DANIEL GONZALEZ<a href="http://twitter.com/p_gzl">@p_gzl</a></h4>
							<p>Moderador</p>
						</div>
						<div class="col-sm-5 talk-name">Keynote<span class="more"></span></div>
					</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-2 description">
							<div class="talk"></div>
							<div class="about-me">
                                <p>Pablo es líder del equipo de Arquitectura IT en PAMI. Docente de la materia APIT (Arquitectura de Proyectos IT)  en la Universidad Tecnológica Nacional donde se egresó como Ingeniero en Sistemas de la Información. Desde su veta emprendedora fundó SENZIL, una empresa dedicada al desarrollo de soluciones informáticas e innovación tecnológica.
Con más de 10 años de experiencia en la industria IT, ha participado de proyectos tanto en el sector público como en el privado. </p>
                               </div>
						</div>
					</div>
				</li>
        <li class="expand wow fadeInUp" data-wow-offset="100">
          <div class="row row-table">
            <div class="col-sm-2">
              <img src="images/people/Guido_O.png" alt="" class="circle-big">
            </div>
            <div class="col-sm-5 name">
              <h4>GUIDO VILARIÑO<a href="http://twitter.com/gvilarino">@gvilarino</a></h4>
              <p>MURAL</p>
            </div>
            <div class="col-sm-5 talk-name">PaaS + Open Source <span class="more"> cómo tener tu propio Heroku</span></div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 description">
              <div class="talk">Las comodidades de un PaaS en tu propio hardware... ¿es posible? Hoy existen muchas herramientas que abstraen a los desarrolladores de la infraestructura y se adaptan a sus ritmos y sus necesidades (siendo Heroku uno de los más conocidos ejemplos). Voy a contarte un poco de una de las alternativas de código abierto, Deis: sus características, qué ventajas (y desventajas) tiene en comparación con los servicios existentes y la experiencia que atravesamos con DemocracyOS al implementarla.</div>
              <div class="about-me">
                <p>CTO de @DemocracyOS en @fundacionDER, Tecnología y DevOps en @mural, Par en @PartidoDeLaRed. Alumnus de @YCombinator. Militante del software Open Source y Libre, los datos abiertos y la participación inclusiva. Gamer veterano y amante del Rock. </p>
              </div>
            </div>
          </div>
        </li>
        <li class="expand wow fadeInUp" data-wow-offset="100">
          <div class="row row-table">
            <div class="col-sm-2">
              <img src="images/people/federico colangelo_O.png" alt="" class="circle-big">
            </div>
            <div class="col-sm-5 name">
              <h4>FEDERICO COLANGELO<a href="http://twitter.com/_semperti">@_semperti</a></h4>
              <p>SemperTI</p>
            </div>
            <div class="col-sm-5 talk-name">The 12 factor app<span class="more"></span></div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 description">
              <div class="talk">“The 12 factor app" es una serie de pautas a seguir para construir aplicaciones que puedan ser consumidas como servicios (Software-as-a-Service). En esta presentación se resaltarán las prácticas que generan mayores ventajas y los problemas concretos surgen al hacer implementaciones solo de manera intuitiva.</div>
              <div class="about-me">
                <p>Gerente de Preventa en SemperTI, donde lleva más de 6 años y esta avocado a escuchar los problemas de los clientes y encontrar soluciones. Ingeniero en Informática. Gamer, programador y aficionado a la gastronomía.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="expand wow fadeInUp" data-wow-offset="100">
          <div class="row row-table">
            <div class="col-sm-2">
              <img src="images/people/juan pablo picasso_O.png" alt="" class="circle-big">
            </div>
            <div class="col-sm-5 name">
              <h4>JUAN PABLO PICASSO<a href="http://twitter.com/avantrip">@avantrip</a></h4>
              <p>Avantrip</p>
            </div>
            <div class="col-sm-5 talk-name">Refactorizando hacia microservicios <span class="more"> una plataforma live</span></div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 description">
              <div class="talk">Vamos a charlar un poco sobre los problemas que nos vamos encontrando cuando tenemos que llevar una plataforma y un team que ya están funcionando, a un esquema de microservicios en un contexto de automatización de builds y deploys.</div>
              <div class="about-me">
                <p>Juan Pablo Picasso es actualmente Gerente de Ingeniería en Avantrip.com. Egresado de Ingeniería en Sistemas de la UTN FRBA, ex-docente de TADP de esa misma universidad, y co-fundador de dos software factories, cuenta con más de 16 años de experiencia en desarrollo de software en diferentes escalas y tecnologías, así como en arquitectura y liderazgo ágil.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="expand wow fadeInUp" data-wow-offset="100">
          <div class="row row-table">
            <div class="col-sm-2">
              <img src="images/people/matt.png" alt="" class="circle-big">
            </div>
            <div class="col-sm-5 name">
              <h4>MATIAS DE CARLI<a href="http://twitter.com/matiasdecarli">@matiasdecarli</a></h4>
              <p>MURAL</p>
            </div>
            <div class="col-sm-5 talk-name">Devops desde la trinchera<span class="more"></span></div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 description">
              <div class="talk">Cómo integrar Docker a nuestro CI a través de Ansible de manera rápida y confiable</div>
              <div class="about-me">
                <p>Licenciado en Informática, devenido en Full Stack Developer en un principio y luego en Devops. He trabajado en lugares  como Lotería de la Provincia y el Grupo Logístico Andreani como Developer, y actualmente me desarrollo como Devops Engineer en MURAL (ex Mural.ly). Soy un apasionado de la tecnología y en saber cómo están construidas las cosas.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="expand wow fadeInUp" data-wow-offset="100">
          <div class="row row-table">
            <div class="col-sm-2">
              <img src="images/people/sebastian_montini.png" alt="" class="circle-big">
            </div>
            <div class="col-sm-5 name">
              <h4>SEBASTIAN MONTINI<a href="http://twitter.com/nubity">@nubity</a></h4>
              <p>NUBITY</p>
            </div>
            <div class="col-sm-5 talk-name">Exprimir cada centavo <span class="more"> tips and tricks to reduce your TCO</span></div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 description">
              <div class="talk">Se explicarán conceptos claves en el camino a poder reducir los gastos inesperados en la facturas de AWS. Además, cómo entender los distintos modelos de pricing de instancias y algunos consejos para trabajar de forma eficiente sin tenerle miedo a la "letra chica" y entender el invoice de fin de mes.</div>
              <div class="about-me">
                <p>Manager de Operaciones en Nubity, líder del DevOps Engineering Team, un equipo interdisciplinario, distribuido que soporta un stack muy diverso de tecnologías en varios proveedores de Cloud públicas y privadas para más de 100 clientes 24x7. Se desempeña en el campo de Infraestructura IT desde hace más de 10 años, y está dedicado a soluciones en Cloud Computing desde hace más de 5. Trabajó en empresas con infraestructuras híbridas como IBM y Disney Electronic Arts desarrollando los procesos de continous deployment. Luego se sumó a Socialmetrix como Solutions Architect, diseñando e implementando toda la nueva arquitectura en AWS, orientada al uso de microservicios y alta disponibilidad. Fue invitado a disertar en eventos internacionales como AWS Re:Invent, Debconf, AWS Summit, StartupWeekend y Campus Party. Es apasionado por las nuevas tecnologías, microservicios y arquitecturas tolerantes a fallas y autoescalables.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="expand wow fadeInUp" data-wow-offset="100">
          <div class="row row-table">
            <div class="col-sm-2">
              <img src="images/people/Marcos_Jonathan_O.png" alt="" class="circle-big">
            </div>
            <div class="col-sm-5 name">
              <h4>MARCOS LILLJEDAHL<a href="http://twitter.com/marcosnils">@marcosnils</a></h4>
              <h4>JONATHAN LEIBIUSKY<a href="http://twitter.com/xetorthio">@xetorthio</a></h4>
              <!-- <p>A Confirmar</p> -->
            </div>
            <div class="col-sm-5 talk-name">Sesión interactiva: <span class="more"> Containers, qué son y qué ofrecen</span></div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 description">
              <div class="talk">En la charla presentarán su reciente proyecto CMT (<a href="https://github.com/marcosnils/cmt" target="_blank">https://github.com/marcosnils/cmt</a>) que fue premiado con el primer puesto en el hackathon de Docker global en la categoría de Plumbing (<a href="https://blog.docker.com/2015/09/docker-global-hack-day-3-winners/" target="_blank">https://blog.docker.com/2015/09/docker-global-hack-day-3-winners/</a>). El mismo abarca la Teoría de containers ( cgroups, namespaces y chroot),  OSI y runC y Live container migration.</div>
              <div class="about-me">
                <p>Marcos y Jonathan son amigos y trabajan juntos en Mantika, un startup con base en Canadá que se dedica al desarrollo de productos utilizando las últimas técnicas en Machine Learning y redes neuronales convolucionales. Hace más de 4 años que se dedican al desarrollo de software especializándose en sistema distribuidos y arquitecturas escalables. Ambos son apasionados por la tecnología y al mismo tiempo autores y contribuidores en varios proyectos Open Source como Jedis, Goblin y Vault entre otros. Recientemente ganaron el hackathon de Docker Global en la categoría de Plumbing.</p>
              </div>
            </div>
          </div>
        </li>
        <!-- 
        <li class="expand wow fadeInUp" data-wow-offset="100">
          <div class="row row-table">
            <div class="col-sm-2">
              <img src="images/anonymous.jpg" alt="" class="circle-big">
            </div>
            <div class="col-sm-5 name">
              <h4>Nombre<a href="http://twitter.com/arqconf">@arqconf</a></h4>
              <p>A Confirmar</p>
            </div>
            <div class="col-sm-5 talk-name">Charla 7<span class="more"></span></div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2 description">
              <div class="talk">Sobre la charla.</div>
              <div class="about-me">
                <p>Biografía.</p>
              </div>
            </div>
          </div>
        </li>
        -->
			</ul>
      <div class="speakers-contact col-xs-12 wow fadeIn" data-wow-offset="75">
        <a href="https://docs.google.com/forms/d/1NWgrgrArNS5V_2NWmDayiFrDpGF2RadnHhZ9rgTNHVk/viewform" target="_blank">Quiero ser Orador de DEVOPSCONF!</a>
      </div>
        </div>
	</section>

<section id="program">
    <div class="container program">
        <h2 class="main-title">Programa</h2>
        <hr>
        <table class="table table-striped table-hover text-center">
          <tbody>
            <tr>
              <td>Horario</td>
              <td class="col-md-5"><strong>SALA C: Workshop +  2° Track</strong></td>
              <td class="col-md-5"><strong>SALA D: Conferencia Principal</strong></td>
            </tr>
            <tr>
              <td>14.00</td>
              <td>
                  <strong class="">Acreditaciones PAAS FEST!</strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>15 a 18</td>
              <td>
                <strong class="">PAAS FEST!! WORKSHOP</strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>18.00</td>
              <td colspan="2"><strong>Acreditaciones DEVOPSCONF</strong></td>
            </tr>
            <tr>
              <td>18.45</td>
              <td></td>
              <td>
                <strong class="col-md-12">Pablo Gonzalez</strong>
                <span class="col-md-12">Keynote</span>
              </td>
            </tr>
            <tr>
              <td>19.00</td>
              <td>
                <strong class="col-md-12">Sebastian Montini</strong>
                <span class="col-md-12">Nubity</span>
              </td>
              <td>
                <strong class="col-md-12">Ferderico Colangelo</strong>
                <span class="col-md-12">SemperTI</span>
              </td>
            </tr>
            <tr>
              <td>19.30</td>
              <td>TBC</td>
              <td>
                <strong class="col-md-12">Guido Vilariño</strong>
                <span class="col-md-12">Mural</span>
              </td>
            </tr>
            <tr>
              <td>20.00</td>
              <td colspan="2"><strong>BREAK</strong></td>
            </tr>
            <tr>  
              <td>20.30</td>
              <td>
                <strong class="col-md-12">Matias de Carli</strong>
                <span class="col-md-12">MURAL</span>
              </td>
              <td>
                <strong class="col-md-12">Juan Pablo Picasso</strong>
                <span class="col-md-12">Avantrip</span>
              </td>
            </tr>
            <tr>
              <td>21.00</td>
              <td>TBC</td>
              <td>
                <strong class="col-md-12">Marcos Lilljedahl</strong>
                <strong class="col-md-12">Jonathan Leibiusky</strong>
              </td>
            </tr>
            <tr>
              <td>21.30</td>
              <td colspan="2"><strong>CIERRE Y PREGUNTAS</strong></td>
            </tr>
          </tbody>
        </table>
        
        <!-- <table class="table table-hover table-striped">
            <tbody>
                <tr>

                    <td>14.00</td>
                    <td>
                        <strong class="col-md-12">Acreditaciones PAAS FEST!</strong>
                        <span class="col-md-12">SALA C</span>
                    </td>
                </tr>
                <tr>
                    <td>15 a 18</td>
                    <td>
                        <strong class="col-md-12">PAAS FEST!!</strong>
                        <span class="col-md-12">WORKSHOP</span>
                        <span class="col-md-12">SALA C</span>
                    </td>
                </tr>
                <tr>
                    <td>18.00</td>
                    <td>
                        <strong class="col-md-12">Acreditaciones DEVOPSCONF</strong>
                        <span class="col-md-12">SALA D</span>
                    </td>
                </tr>
                <tr>
                    <td>18.45</td>
                    <td>
                        <strong class="col-md-12">Pablo Gonzalez</strong>
                        <span class="col-md-12">Keynote</span>
                        <span class="col-md-12">SALA D</span>
                    </td>
                </tr>
                <tr>
                    <td>19.00</td>
                    <td>
                        <strong class="col-md-12">Ferderico Colangelo</strong>
                        <span class="col-md-12">SemperTI</span>
                        <span class="col-md-12">SALA D</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <strong class="col-md-12">Sebastian Montini</strong>
                        <span class="col-md-12">Nubity</span>
                        <span class="col-md-12">SALA C</span>
                    </td>
                </tr>                
                <tr>
                    <td>19.30</td>
                    <td>
                        <strong class="col-md-12">Guido Vilariño</strong>
                        <span class="col-md-12">Mural</span>
                        <span class="col-md-12">SALA D</span>
                    </td>
                </tr>
                <tr>
                    <td>20.00</td>
                    <td>
                        <strong class="col-md-12">Break</strong>
                    </td>
                </tr>
                <tr>
                    <td>20.30</td>
                    <td>
                        <strong class="col-md-12">Juan Pablo Picasso</strong>
                        <span class="col-md-12">Avantrip</span>
                        <span class="col-md-12">SALA D</span>
                    </td>
                <tr>
                    <td></td>
                     <td>
                        <strong class="col-md-12">Matias De Carli</strong>
                        <span class="col-md-12">MURAL</span>
                        <span class="col-md-12">SALA C</span>
                    </td>
                </tr>    
                </tr>
                <tr>
                    <td>21.00</td>
                    <td>
                        <strong class="col-md-12">Marcos Lilljedahl & Jonathan Leibiusky</strong>
                         <span class="col-md-12">Charla 4</span>
                        <span class="col-md-12">SALA C</span>
                    </td>
                </tr>
                <tr>
                    <td>21.30</td>
                    <td>
                        <strong class="col-md-12">Cierre y Preguntas</strong>
                        <span class="col-md-12">SALA D</span>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</section>

<!--
	<section id="tickets">
		<div class="container tickets">
			<div class="row">
				<h2 class="main-title">Tickets</h2>
				<hr> 
				<div class="ticket-frame">
					<iframe  src="https://www.eventbrite.com/tickets-external?eid=15887615285&ref=etckt" frameborder="0" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
				</div>
			</div>
		</div>
	</section>
-->
	<section id="sponsors">
		<div class="container sponsors">
			<h2 class="main-title">Sponsors</h2>
			<hr>
            <img class="wow fadeInUp" src="images/Red_Hat_RGB_300px.jpg" width="300" data-wow-offset="200" style="margin-right:20px">
            <img class="wow fadeInUp" src="images/MELI.png" width="250" data-wow-offset="200">
            <br>
            <br>
            <img class="wow fadeInUp" src="images/Logo_Avantrip-3.png" width="150" height="150" data-wow-offset="200">
            <br>
<!--             <h3>Redhat</h3>
            <div style="display: none;" class="diamond">
                <div class="row">
                    <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-offset="200">
                        <a href="" target="_blank">
                            <img src="images/Red_Hat_RGB_300px.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <h3></h3>
            <div style="display: none;" class="platinum">
                <div class="row">
                    <div class="col-sm-6 wow fadeInUp" data-wow-offset="100">
                        <a href="" target="_blank">
                            <img src="images/Logo_Avantrip-3.png">
                        </a>
                    </div>
                    <div class="col-sm-6 wow fadeInUp" data-wow-offset="100">
                        <a href="" target="_blank">
                            <img src="images/Logo_Avantrip-3.png">
                        </a>
                    </div>
                </div>
            </div>            
 -->            <!--
            <h3>Diamond</h3>
            <div style="display: none;" class="diamond">
                <div class="row">
                    <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-offset="200">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                </div>
            </div>
            <h3>Platinum</h3>
            <div style="display: none;" class="platinum">
                <div class="row">
                    <div class="col-sm-6 wow fadeInUp" data-wow-offset="100">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                    <div class="col-sm-6 wow fadeInUp" data-wow-offset="100">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                </div>
            </div>
            <h3>Gold</h3>
            <div style="display: none;" class="gold">
                <div class="row">
                    <div class="col-sm-4 wow fadeInUp" data-wow-offset="100">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-offset="100">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-offset="100">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                </div>
            </div>
            <h3>Silver</h3>
            <div style="display: none;" class="silver">
                <div class="row">
                    <div class="col-sm-4 wow fadeInUp" data-wow-offset="50">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-offset="50">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-offset="50">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                </div>
            </div>
            -->
            <br>
            <br>
            <br>
            <div class="sponsor-contact col-xs-12 wow fadeIn" data-wow-offset="75">
                <a href="mailto:sponsors@conf4.it?subject=DEVOPSCONF 2015 Sponsorship">Quiero ser Sponsor de DEVOPSCONF!</a>
            </div>
		</div>
	</section>

  <section id="apoyan">
    <div class="container sponsors">
      <h1 class="main-title"><strong>Apoyan</strong></h2>
	    <hr>
        <img class="wow fadeInUp" src="images/apoyan/CSM.png" width="200" data-wow-offset="200">
        <img class="wow fadeInUp" src="images/apoyan/inpower.png" width="200" data-wow-offset="200">
        <img class="wow fadeInUp" src="images/apoyan/logoUqbar-pre.svg" width="200" data-wow-offset="200">
        <img class="wow fadeInUp" src="images/apoyan/UCA.jpg" width="200" data-wow-offset="200">
            <br>
            <br>
            <br>
    </div>
  </section>


  <section id="organizers">
		<div class="organizers">
			<h2 class="main-title">Organizadores</h2>
			<hr>
			<div class="row about-conf">
				<div class="col-md-12 wow fadeIn" data-wow-duration="1.5s" data-wow-offset="100">
					<div class="col-md-offset-5 col-md-2 text-center">
                        <a href="http://www.conf4.it/">
						    <img src="images/confforit.png">
                        </a>
					</div>
				</div>

			</div>
        </div>
	</section>

    <section style="display: none;" id="support">
        <div class="container support">
            <h2 class="second-title">Apoyan</h2>
            <hr>
            <div class="row row-table">
                <div class="col-md-2 wow fadeIn" data-wow-duration="1s" data-wow-offset="100">
                    <a href="" target="_blank">
                        <img src="">
                    </a>
                </div>
                <div class="col-md-2 wow fadeIn" data-wow-duration="1s" data-wow-offset="100" data-wow-delay="0.5s">
                    <a href="" target="_blank">
                        <img src="">
                    </a>
                </div>
                <div class="col-md-2 wow fadeIn" data-wow-duration="1s" data-wow-offset="100" data-wow-delay="1s">
                    <a href="" target="_blank">
                        <img src="">
                    </a>
                </div>
            </div>
        </div>
    </section>

	<section id="venue">
		<div class="venue">
		<div class="container">
			<h2 class="main-title">Lugar</h2>
			<hr>
			<h3>Sarmiento 1551 - Salas C y D del Centro Cultural San Martín, Ciudad Autónoma de Buenos Aires, Argentina</h3>
		</div>
            <div class="overlaymap" onClick="style.pointerEvents='none'"></div>
            <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13135.813134807451!2d-58.3886111!3d-34.6053428!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x154b28406cab5ac7!2sCentro+Cultural+San+Martin!5e0!3m2!1ses-419!2sar!4v1441079104024"></iframe>
		</div>
	</section>

	<section id="contact-us" class="hidden-xs">
		<div class="contact-us container">
			<h2 class="main-title">Contacto</h2>
			<hr>
			<div class="row contact-info">
				<div class="col-sm-3">
					<a href="http://twitter.com/arqconf" class="social-icons-twitter"></a>
				</div>
				<div class="col-sm-3">
					<a href="https://www.facebook.com/arqconf.forit" class="social-icons-facebook"></a>
				</div>
				<div class="col-sm-3">
					<a href="http://www.meetup.com/ArquitecturaDeSoftware" class="social-icons-meetup"></a>
				</div>
				<div class="col-sm-3">
					<a rel="contactus" class="social-icons-email"></a>
				</div>
			</div>
		</div>
	</section>


	<div class="container">
		<div class="footer">
			<p>devops.conf4.it</p>
		</div>
	</div>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/holderjs/holder.js"></script>
	<script src="bower_components/wow/dist/wow.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/jquery.countdown/dist/jquery.countdown.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-37230564-6', 'devops.conf4.it');
	  ga('send', 'pageview');
	</script>

	<!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
	<!-- endbuild -->
</body>
</html>
